*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(10deg, #000000, rgb(180, 180, 180));
    background-position: center center;
    background-size: cover;
    height: 100vh; 
    display: grid;
    place-items: center;
}
#calculator{    
    border: 0.5px solid rgba(220, 220, 220, 0.514);
    overflow: hidden;
    width: 280px;
    height: 475px;
    background-color: rgba(255, 255, 255, 0.05);   
    border-radius: 15px;
}
.glass{
    backdrop-filter:  blur(5px);
}
#screen{
    color: white;
    text-align: right;
    font-size: 60px;
    border:none;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}
button{
    border: 0.5px solid rgba(220, 220, 220, 0.144);
    background-color: rgba(255, 255, 255, 0.158);
    font-size: 18px;
    margin: 3px;
    border-radius: 15px;
    width: 55px;
    height: 55px;
}
#buttons{
    margin-top:20px;
    display: grid;
    place-items: center;
}
button:active{
    background-color: rgba(220, 220, 220, 0.479);
    color: #134f83;
}
.btn-operator{
    border: 0.5px solid #186fbb2c;
    background-color: #134f833a;
}